body, html {
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  float: left;
  width: 100%;
  height: 56px;
  background-color: rgb(251,101,33);
  z-index: 10;
  border-bottom: 3px solid rgb(251,189,150);
}

#logo {
  height: 28px;
  padding: 16px 40px;
}

#tagline {
  float: right;
  margin: 1px 0px;
  color: rgb(253,220,197);
  /*font-size: 1.000em;*/
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
}

#tagline a {
  text-decoration: none;
  color: rgb(88,26,12);
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
}

#redditLogo {
  height: 36px;
  margin: 5px 40px 0 0;
}

.posts {
  margin-top: 96px;
  margin-left: 40px;
}

.title { 
  margin-bottom: 16px;
}

.title a {
  color: rgb(140,138,138);
  font-size: 0.800em;
  clear:both;
  text-decoration: none;
}

.ref {
  height: 400px;
  margin-right: 70px;
  float: left;
}

.ref img, .scroller img {
  max-height: 100%;
  padding: 16px;
  margin: 15px 0 5px 0;  
  -moz-box-shadow:    0 0 18px #999;
  -webkit-box-shadow: 0 0 18px #999;
  box-shadow:         0 0 18px #999;
}

.ref img {
  max-width: 400px;
}

.scroller img {  }

.art {
  position: relative;
  height: 450px;
}

    .scroller {
      position: relative;
      overflow: hidden;
    }
    .scroller .innerScrollArea {
      overflow: hidden;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    .scroller ul {
      padding: 0;
      margin: 0;
      position: relative;
    }
    .scroller li {
      padding: 0 16px;
      height: 400px;
      margin: 0;
      list-style-type: none;
      position: absolute;
    }


.ref .subUsername {
  color: rgb(177,177,178);
}

.ref .subUsername a {
  color: rgb(0,173,239);
  text-decoration: none;
}

.art .subUsername {
  float: right;
  color: rgb(0,173,239);
  text-decoration: none;
}

.art .subUsername a {
  
  font-size: .75em;
}

.scrollArrow {
  /*scroll right on hover*/
}

.scrollArrow:hover {
  /*scroll right on hover*/
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  float: left;
  width: 100%;
  height: 56px;
  background-color: rgb(0,174,239);
  opacity: 0.5;
  z-index: 10;
  transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s; /* Safari */
}

#footer:hover {
  opacity: 0.75;
  transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s; /* Safari */
}

#footer p {
  text-align: right;
  margin: 20px 40px;
}

#footer a {
  color: #fff;
  font-size: 1.000em;
  text-decoration: none;
  padding-left: 16px;
}

#footer a:hover {

}

#upArrow, #downArrow {
  margin:auto;
}

/*
.timestamp {  }
.commentsLink  {  }*/