.post
{
	float: left;
    width: 10000px; 
    height: 600px;
}

img {float:left; height: 500px; width: auto;}

.art
{
    float: left;
    height: 550px;
    width: auto;
    margin: 0;
    text-align:center;
    border: 0px solid white;
}

.artworks
{
	overflow: auto;
    float:left;
}